*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}

header img{
    margin-left: 30px;
}

header nav a {
    font-size: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin-right: 100px;
    border: solid 1px black;
    padding: 5px;
    border-radius: 20px;
    background-color: #ffffff;
}

header nav a:hover {
    color: #727272;
}

body input{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 400px;
    border-radius: 30px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 500px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    position: relative;
    height: auto;
    overflow: auto;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 1500px;
    background-image: url(./img/3.3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    z-index: -2;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 1500px;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: -1;
}

#containerPrincipal{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
    gap: 30px;
}

.productCard {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    width: 20%;
    text-align: center;
    justify-content: center;
}

.productCard img {
    width: 100%;
    height: auto;
}

.productCard h2 {
    font-size: 24px;
    margin: 10px 0;
}

.productCard p {
    font-size: 16px;
    color: #555;
}

.productCard button{
    margin-top: 20px;
    border-radius: 30px;
    width: 50%;
    height: 30px;
    border: none;
    transition: 0.2s;
}

.productCard button:active{
    transform: scale(0.8);
}